set_io --warn-no-port CLK_PIXEL 2

set_io --warn-no-port VGA_RED 28
set_io --warn-no-port VGA_GREEN 38
set_io --warn-no-port VGA_BLUE 42
set_io --warn-no-port VGA_HSYNC 25
set_io --warn-no-port VGA_VSYNC 23
