.vscode
a.out
*.o
*.s
*.map
*.lst
*.bin
build/
hardware/herring_decoder/.run_manager.ini
hardware/herring_decoder/herring_decoder_tcl.html
hardware/herring_decoder/reportview.xml
hardware/herring_decoder/promote.xml
hardware/herring_decoder/herring_decoder_tcr.dir/*
.sconsign.dblite
hardware.asc
hardware.json
hardware.out
hardware/herring_gpu/hardware.rpt
*.vvp
*.vcd
hardware/new_gpu/hardware.rpt
*.rpt
*.chp
*.fus
*.jed
*.pin