set_io --warn-no-port PIXEL_CLOCK 35

set_io --warn-no-port VGA_RED 32
set_io --warn-no-port VGA_GREEN 27
set_io --warn-no-port VGA_BLUE 26
set_io --warn-no-port VGA_HSYNC 25
set_io --warn-no-port VGA_VSYNC 23
