set_io --warn-no-port CLK 35

set_io --warn-no-port R 32
set_io --warn-no-port G 27
set_io --warn-no-port B 26
set_io --warn-no-port Hs 25
set_io --warn-no-port Vs 23

set_io --warn-no-port DATA[0] 28
set_io --warn-no-port DATA[1] 38
set_io --warn-no-port DATA[2] 42
set_io --warn-no-port DATA[3] 36
set_io --warn-no-port DATA[4] 43
set_io --warn-no-port DATA[5] 34
set_io --warn-no-port DATA[6] 37
set_io --warn-no-port DATA[7] 31

set_io --warn-no-port ADDR[0] 2
set_io --warn-no-port ADDR[1] 46
set_io --warn-no-port ADDR[2] 47
set_io --warn-no-port ADDR[3] 45
set_io --warn-no-port ADDR[4] 48
set_io --warn-no-port ADDR[5] 3
set_io --warn-no-port ADDR[6] 4
set_io --warn-no-port ADDR[7] 44
set_io --warn-no-port ADDR[8] 6
set_io --warn-no-port ADDR[9] 9

set_io --warn-no-port RESB 18
set_io --warn-no-port CPU_CLK 19
set_io --warn-no-port RWB 13
set_io --warn-no-port CE 21
