set_io --warn-no-port VGA_RED 28
set_io --warn-no-port VGA_GREEN 38
set_io --warn-no-port VGA_BLUE 42
set_io --warn-no-port VGA_HSYNC 36
set_io --warn-no-port VGA_VSYNC 43

set_io --warn-no-port DATA[0] 2
set_io --warn-no-port DATA[1] 46
set_io --warn-no-port DATA[2] 47
set_io --warn-no-port DATA[3] 45
set_io --warn-no-port DATA[4] 48
set_io --warn-no-port DATA[5] 3
set_io --warn-no-port DATA[6] 4

set_io --warn-no-port ADDR[0] 44
set_io --warn-no-port ADDR[1] 6
set_io --warn-no-port ADDR[2] 9
set_io --warn-no-port ADDR[3] 11
set_io --warn-no-port ADDR[4] 18
set_io --warn-no-port ADDR[5] 19
set_io --warn-no-port ADDR[6] 13
set_io --warn-no-port ADDR[7] 21
set_io --warn-no-port ADDR[8] 12
set_io --warn-no-port ADDR[9] 10
set_io --warn-no-port ADDR[10] 23
set_io --warn-no-port ADDR[11] 25
set_io --warn-no-port ADDR[12] 26
set_io --warn-no-port ADDR[13] 27
set_io --warn-no-port ADDR[14] 32

set_io --warn-no-port RW 34
set_io --warn-no-port CE 37
set_io --warn-no-port CLK_CPU 31

set_io --warn-no-port CLK 20