BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "decoder[0]" SITE "13" ;
LOCATE COMP "decoder[1]" SITE "14" ;
LOCATE COMP "decoder[2]" SITE "16" ;
LOCATE COMP "decoder[3]" SITE "17" ;
LOCATE COMP "decoder[4]" SITE "20" ;
LOCATE COMP "decoder[5]" SITE "21" ;
LOCATE COMP "decoder[6]" SITE "23" ;
LOCATE COMP "decoder[7]" SITE "25" ;
LOCATE COMP "cpu_clk_in" SITE "26" ;
LOCATE COMP "cpu_clk_out" SITE "27" ;
LOCATE COMP "clk_src" SITE "28" ;
LOCATE COMP "rw" SITE "4" ;
LOCATE COMP "address[10]" SITE "5" ;
LOCATE COMP "address[11]" SITE "8" ;
LOCATE COMP "address[12]" SITE "9" ;
LOCATE COMP "address[13]" SITE "10" ;
LOCATE COMP "address[14]" SITE "11" ;
LOCATE COMP "address[15]" SITE "12" ;
